fieldset#radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

div.form-group {
  padding: 1rem;
  justify-self: stretch;
  display: flex;
  flex-direction: row;
  gap: 2ch;
  border: 1px solid  rgb(3, 46, 2);
  border-radius: 5px;
}


fieldset#radio > label {
  justify-self: stretch;
}


fieldset#radio input[radio] {

  margin-right: 30px;
}

