input#submit-btn {
  background-color:  rgb(3, 46, 2);
  color: white;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  display: block;
  width: 94%;
  padding: 0.3rem 0.8rem;
  margin: 3% auto;
}